h1{
    color:red;
}
h2{
    font-size: 40px;
}
.skyblue{
    color:#87ceeb
}
.minimum{
    font-size: 10px;
}
.font{
    font-family: serif;
}
.font2{
    font-family: "Avenir Next";
}